{% comment %}
  Shopify Wishlist
  Usage:
    - Markup: {%- render 'button-wishlist', product: product -%}
    - Place this snippet inside your existing product card snippet
  Parameters:
    - product: <Shopify product> (required)
{% endcomment %}
{%- if product.handle != blank -%}
  <button class="btn_heart" type="button" aria-label="Add to wishlist" class="" button-wishlist data-product-handle="{{ product.handle }}">

    {%- render 'icon-heart' -%}
  </button>
{%- endif -%}
